@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
	--Charcoal: rgb(11, 13, 23);
	--LightGray: rgb(208, 214, 249);
	--White: rgb(255, 255, 255);
	--Bellefair: 'Bellefair', serif;
	--Barlow: 'Barlow Condensed', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--Charcoal);
	color: var(--White);
	font-family: var(--Barlow);
	font-size: 1.125rem;
	line-height: 32px;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
}

h1,
h2,
h3,
h4,
.subheading-1 {
	font-family: var(--Bellefair);
	font-weight: 100;
}

h1 {
	font-size: 9.375em;
}

h2 {
	font-size: 6.25rem;
}

h3 {
	font-size: 3.5rem;
}

h4 {
	font-size: 2rem;
}

h5,
.subheading-2,
.nav-text {
	font-family: var(--Barlow);
	font-weight: 100;
}

h5 {
	color: var(--LightGray);
	letter-spacing: 4.75px;
}

h5,
.subheading-1 {
	font-size: 1.75rem;
}

.subheading-2 {
	font-size: 0.875rem;
	letter-spacing: 2.35px;
}

.nav-text {
	font-size: 1rem;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}

.nav-items {
	background-color: rgba(255, 255, 255, 0.1);
}

.space-image {
	display: block;
}

.explore-btn {
	background-color: var(--White);
	border: 1px solid var(--White);
	border-radius: 100%;
	color: var(--Charcoal);
	font-family: var(--Bellefair);
	font-size: 2rem;
	text-transform: uppercase;
	width: 274px;
	height: 274px;
}

.explore-btn:hover {
	border-color: rgba(0, 0, 0, 0.5);
	border-width: 40px;
}

.hidden {
	display: none;
}

.active {
	border-bottom: 2px solid var(--White);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.nav-items {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}

@media screen and (max-width: 550px) {
	.container {
		text-align: center;
	}
	/* TODO: hide .nav-menu on bigger screens */
	.nav-menu {
		display: block;
		margin: 0 auto;
	}

	.nav-items {
		height: 166vh;
		width: 254px;
		position: absolute;
		text-align: left;
		right: 0;
		top: 0;
	}

	.nav-close {
		display: block;
		position: absolute;
		top: 34px;
		right: 26px;
	}

	.nav-link {
		list-style: none;
		margin-bottom: 32px;
	}

	.nav-number {
		font-weight: 900;
	}

	.nav-items a {
		color: var(--White);
		text-decoration: none;
	}

	.nav-items ul {
		margin-left: 32px;
		margin-top: 118px;
	}

	.open {
		visibility: hidden;
	}

	.logo {
		display: block;
		margin: 0 auto;
		top: 21px;
	}

	.move-left {
		margin-left: 24px;
	}

	.heading1,
	.heading2 {
		text-transform: uppercase;
	}

	.heading2 {
		margin: 48px auto;
	}

	.description {
		color: var(--LightGray);
		margin: 0 24px;
	}

	.space-image {
		content: url('../images/background/home/mobile.jpg');
		width: 100%;
	}
}
